@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 125px;
    background: #74C69D;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.footer-icons {
    display: flex;
    gap: 20px;
}

.footer-tex {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Work Sans';
}


@media(max-width: 376px) {
    .footer {
        gap: 0;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 376px;
        height: 125px;
    }
}

@media(max-width: 550px) {
    .footer {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0;
        flex-direction: column;
        width: 550px;
    }
}


@media(max-width: 750px) {
    .footer {
        flex-wrap: wrap;
        justify-items: space-between;
        width: 750px;
    }
}


@media(max-width: 1020px) {
    .footer {
        flex-wrap: wrap;
        justify-items: space-between;
        width: 1020px;
    }
}
